.agora-header
  background url('../../images/header.jpg') center / cover

.agora-header-color
  background-color $header-grey

.mdl-layout__header
  @media screen and (max-width: 1024px)
    display block !important
