// MDL Colors
$light-blue = rgb(3,169,244)
$blue = rgb(34, 150, 243)
$indigo = rgb(63, 81, 181)
$deep-purple = rgb(104, 59, 183)
$purple = rgb(156, 39, 176)
$pink = rgb(233, 30, 99)
$red = rgb(244, 67, 54)
$deep-orange = rgb(255, 87, 34)
$grey = rgb(158, 158, 158)
$blue-grey = rgb(96, 125, 139)
$brown = rgb(121, 85, 72)
$orange = rgb(255, 152, 0)
$amber = rgb(255, 193, 7)
$yellow = rgb(255, 235, 59)
$lime = rgb(205, 220, 57)
$light-green = rgb(139, 195, 74)
$green = rgb(76, 175, 80)
$teal = rgb(0, 150, 136)
$cyan = rgb(0, 188, 212)

// Other Colors
$white = rgb(255, 255, 255)
$black = rgb(0, 0, 0)
$header-grey = rgba(25,40,81,0.5)
$home-grey = #F5F5F5
