.concert-croud
  background url('../../../images/croud.jpg') center / cover
  height 300px
  width 100% !important

.concert-grid
  min-width 100% !important

.concert-table
  width 97% !important
  table
    width 100%
