@import './common/body.styl'

@import './const/colors.styl'

@import './domain/footer/footer.styl'
@import './domain/header/header.styl'
@import './domain/home/home.styl'
@import './domain/license/license.styl'
@import './domain/news/news.styl'
